<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar color="primary" class="toolbar">
        <ion-item class="ion-item-avatar" color="primary">
          <ion-avatar class="m-left-4 m-top-4 avatar">
            <img src="../assets/avatar.svg">
          </ion-avatar>
          <ion-icon name="sunny" slot="end"></ion-icon>
        </ion-item>
        <ion-item class="ion-item-avatar" color="primary">
          <ion-label class="p-left-4">Julio Thomazelli</ion-label>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <ion-content id="content">
      <ion-list>
        <ion-menu-toggle>
          <ion-item (click)="scheduleClick()">Agenda</ion-item>
          <ion-item (click)="notificationClick()">Notificações</ion-item>
          <ion-item (click)="chatClick()">Chat</ion-item>
          <ion-item (click)="configurationClick()">Configurações</ion-item>
          <ion-item (click)="logoutClick()">Sair</ion-item>
        </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>